*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contenedor-productos{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    gap: 4rem;
    background-color: #f1f1f1;
}

.card-producto{
    width: 14rem;
    height: 50rem;
}


.carrito-lista{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    border-bottom: 1px solid #f1f1f1;

}

.carrito-lista p{
    margin: 0;
    max-width: 6rem;
    text-align: center;
}